.not-found {
  display: flex;
  min-height: calc(100vh - 80px);
  padding-top: 200px;
  flex-direction: column;
  background: #e9e9e9;
  align-items: center;
}

.not-found__title {
  margin: 0;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  color: #383838;
  text-shadow: -3px 3px 4px rgba(56, 56, 56, 0.41);
}

.not-found__link {
  margin-top: 50px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  background-color: #4481c3;
}